body {
   background-image: url(../images/ep_naturalwhite.png);
}

body, html {
   height: 100%;
}

nav {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
}

.container1 {
   position: relative;
   top: 64px;
}

.down25 {
   position: relative;
   top: 25%;
}

.brand-logo {
   background: #4aaaa5;
   padding: 0px 10px !important;
   /* margin-left: 10%; */
}

#nav-mobile li a{
   color: darkgray !important;
}

.minHeight {
   min-height: 250px !important;
}

.links {
   display: -webkit-inline-box;
}

.connect-li {
   margin-right: 2.5%;
}

.card a {
   z-index: 0;
}

#philosophy {
   margin-bottom: 20px;
}

.card-content {
   text-align: center;
}

.material-icons {
   color: black;
}

.page-footer {
   padding: 0;
   background-color: #4aaaa5;
}

footer {
   background: #4aaaa5;
   position: fixed;
   bottom: 0;
   width: 100%;
}

.no-padding {
   padding: 0;
   margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
   font-family: fantasy;
}

p {
   font-family: sans-serif;
}

@media only screen and (max-width: 460px) {
   a {
    padding: 0 10px !important;
   }
}
@media only screen and (max-width: 420px) {
   a {
    padding: 0 5px !important;
   }
}
@media only screen and (max-width: 400px) {
   nav ul a {
    font-size: .8em !important;
   }
}
@media only screen and (max-width: 360px) {
   a {
    font-size: .8em !important;
   }
}